asgiref==3.8.1
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
crispy-bootstrap5==2025.4
cryptography==45.0.3
Django==5.2.1
django-appconf==1.1.0
django-autocomplete-light==3.12.1
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-cryptography-django5==2.2
django-elasticsearch-dsl==8.0
django-hijack==3.7.2
django-sql-explorer==5.3
django-tinymce==4.1.0
dnspython==2.7.0
elastic-transport==8.17.1
elasticsearch==8.18.1
elasticsearch-dsl==8.18.0
eventlet==0.40.0
greenlet==3.2.2
gunicorn==23.0.0
idna==3.10
packaging==25.0
psycopg2-binary==2.9.10
pycparser==2.22
pymemcache==4.0.0
pysolr==3.10.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
