<!--Extends base template-->
{% extends "base.html" %}
<!--So forms look good-->
{% load crispy_forms_tags %}

<!--Content of the page-->
{% block content %}
<h1 class="text-center">Manage Groups</h1>
<hr />
<h3 class="text-center">List of Groups</h3>

<div class="table-responsive">
  <table class="table" id="users">
    <thead>
      <tr>
        <th class="text-center" scope="col">Group Name</th>
        <th class="text-center" scope="col"># Active Positions</th>
        <th class="text-center" scope="col">Edit</th>
        <th class="text-center" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody id="groups-body">
      {% for pg in pgs %}
      <tr id="gt-{{pg.id}}">
        <td class="text-center">{{ pg.name }}</td>
        <td class="text-center">{{ pg.count }}</td>
        <td class="text-center"><i class="bi bi-pencil-square"></i></td>
        <td class="text-center">
          <a href="" hx-delete="{% url 'delete_group' pg.id %}"
            ><i class="bi bi-trash3-fill"></i
          ></a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <th scope="row" colspan="4" class="text-center">None.</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {% block bottom %}
<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingOne">
    <button
      class="accordion-button collapsed d-block text-center"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#flush-collapseOne"
      aria-expanded="false"
      aria-controls="flush-collapseOne"
      id="flush-collapseOne-button"
    >
      <h3>Add Group</h3>
    </button>
  </h2>
  <div
    id="flush-collapseOne"
    class="accordion-collapse collapse"
    aria-labelledby="flush-headingOne"
    data-bs-parent="#accordionFlushExample"
  >
    <div class="accordion-body">
      <div id="add-group-message"></div>
      <div id="add-group-form">{% crispy form %}</div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_scripts %}
<script>
  document.body.addEventListener("deleteGroup", function (event) {
    let group_id = event.detail.value;
    let group_row = document.getElementById(group_id);
    group_row.remove();
  });
</script>
{% endblock %}
