<tr id="ut-{{curr_user.id}}">
  <td class="text-center">{{ curr_user.last_name }}</td>
  <td class="text-center">{{ curr_user.first_name }}</td>
  <td class="text-center">{{ curr_user.email }}</td>
  <td class="text-center">
    {% if curr_user.has_usable_password %}
    <a
      href=""
      hx-get="{% url 'reset_password' curr_user.id %}"
      hx-target="#ut-{{curr_user.id}}"
      hx-swap="outerHTML"
      hx-trigger="click"
      ><i class="bi bi-lock-fill"></i
    ></a>
    {% else %}
    <i class="bi bi-unlock-fill"></i>
    {% endif %}
  </td>
  <td class="text-center">
    <form action="{% url 'hijack:acquire' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="user_pk" value="{{ curr_user.id }}" />
      <button type="submit"><i class="fa-solid fa-user-secret"></i></button>
      <input type="hidden" name="next" value="/" />
    </form>
  </td>
  <td class="text-center">
    <a
      href=""
      hx-get="{% url 'update_user' curr_user.id %}"
      hx-trigger="click"
      hx-swap="multi:#ut-{{curr_user.id}}:outerHTML,#update_user_form:outerHTML"
      ><i class="bi bi-pencil-square"></i
    ></a>
  </td>
</tr>
