{% if success %}
<tbody id="recurring-body">
  <tr id="rt-{{rshift.id}}" class="new-add">
    <td class="text-center">{{ rshift.kind }}</td>
    <td class="text-center">{{ rshift.get_day_display }}</td>
    <td class="text-center">{{ rshift.start_time }}</td>
    <td class="text-center">
      {{ rshift.building.short_name }}-{{ rshift.room }}
    </td>
    <td class="text-center">
      <a
        href=""
        hx-get="{% url 'edit_recurring' rshift.id %}"
        hx-trigger="click"
        hx-target="#edit-recurring-form"
        ><i class="bi bi-pencil-square"></i
      ></a>
    </td>
  </tr>
</tbody>
{% endif %}

<div id="add-recurring-message">{% include 'alerts.html' %}</div>

{% if success %}
<div id="add-recurring-form">
  <div
    hx-get="{% url 'add_recurring' user_id %}"
    hx-target="this"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
</div>
{% endif %}
