{% load static %}

<div class="d-flex align-items-center justify-content-center">
  <div class="align-items-center justify-content-center">
    <img
      class="img-fluid mx-auto d-block"
      src="{% static 'img/sis_are_lost.gif' %}"
      alt="SIs Are Lost"
      width="50%"
    />
    <br />
    <p class="fs-5 text-center">
      It seems you might have overlooked the cautionary note posted there. It's
      advisable to give it a thorough read before attempting any adjustments to
      the shift. Safety first, after all.
    </p>
  </div>
</div>
