<!--Extends base template-->
{% extends "base.html" %}
<!--So forms look good-->
{% load crispy_forms_tags %}

<!--Content of the page-->
{% block content %}
<h1 class="text-center">Manage Your Payroll</h1>
<hr />
<div
  id="punch-in-out-main"
  hx-get="{% url 'get_user_punch_in_out' %}"
  hx-trigger="intersect once, every 600s"
  hx-target="this"
  hx-swap="innerHTML"
>
  <h3 class="text-center">Punch In/Out</h3>
  <div id="punch-in-out-message"></div>
  <p class="text-center">
    Looks like you don't have any position which requires punch in/out.
  </p>
  <hr />
</div>
<div
  id="attendance-shift-main"
  hx-get="{% url 'get_attendance_for_shifts' %}"
  hx-trigger="intersect once"
  hx-target="this"
  hx-swap="innerHTML"
>
  <h3 class="text-center">Attendance For Shifts</h3>
  <div id="attendance-shift-message"></div>
  <p class="text-center">
    Looks like you don't have any shift which is left to aprove.
  </p>
  <hr />
</div>
<div
  id="approve-weeks-main"
  hx-get="{% url 'get_approve_entire_weeks' %}"
  hx-trigger="intersect once"
  hx-target="this"
  hx-swap="innerHTML"
>
  <h3 class="text-center">Approve Entire Weeks</h3>
  <div id="approve-weeks-message"></div>
  <p class="text-center">
    Looks like you don't have any weeks payroll to approve.
  </p>
  <hr />
</div>
<h3 class="text-center">Pays Till Now</h3>
<p class="text-center">
  <b>
    Please note that the amounts displayed are pre-tax and may not match your
    final paycheck exactly.
  </b>
  Discrepancies can occur based on factors such as the timing of hour entries on
  the HR website, delays due to late payroll submissions, or adjustments to
  hours after payment. If you have any concerns about differences between your
  paycheck and the information shown here, please contact the office staff for
  clarification or to report the issue.
</p>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center" scope="col">Week Of</th>
        <th class="text-center" scope="col">Position</th>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Sunday</th>
        <th class="text-center" scope="col">Monday</th>
        <th class="text-center" scope="col">Tuesday</th>
        <th class="text-center" scope="col">Wednesday</th>
        <th class="text-center" scope="col">Thursday</th>
        <th class="text-center" scope="col">Friday</th>
        <th class="text-center" scope="col">Saturday</th>
        <th class="text-center" scope="col">Total</th>
      </tr>
    </thead>
    <tbody
      hx-get="{% url 'get_user_payslips' %}"
      hx-target="this"
      hx-trigger="intersect once"
      hx-swap="innerHTML"
    ></tbody>
  </table>
</div>
{% endblock %} {% block bottom %} {% endblock %}
<!--Extra Scripts-->
{% block extra_scripts %}
<script></script>
{% endblock%}
