<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">{{opportunity.title}}</h5>
    <div class="h6" style="--bs-bg-opacity: 1">
      {% if opportunity.is_paid %}
      <span class="badge text-bg-success">Paid</span>
      {% endif %}{% if opportunity.on_campus %}
      <span class="badge text-bg-primary">On Campus</span>
      {% endif %}{% if opportunity.is_for_credit %}
      <span class="badge text-bg-danger">For Credit</span>
      {% endif %}
    </div>
    <p class="card-text" style="font-size: 1rem">
      {{opportunity.short_description|striptags|truncatewords:40}}
    </p>
    <a
      href="{% url 'view_opportunity_full_page' opportunity.id %}"
      class="btn btn-primary"
      >Learn More</a
    >
  </div>
</div>
