<!--Extends base template-->
{% extends "base.html" %}
<!--So forms look good-->
{% load crispy_forms_tags %}

<!--Content of the page-->
{% block content %}
<h1 class="text-center">Manage Opportunities</h1>
<hr />
{% crispy form %}
<hr />
<div class="table-responsive">
  <table class="table" id="roles">
    <thead>
      <tr>
        <th class="text-center" scope="col">Informtion</th>
        <th class="text-center" scope="col">Edit</th>
        <th class="text-center" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody id="roles_body">
      {% for opp in opportunities %}
      <tr
        id="ot-{{opp}}"
        hx-get="{% url 'get_opportunity_row' opp %}"
        hx-trigger="intersect once"
        hx-target="this"
        hx-swap="outerHTML"
        style="height: 100px"
      ></tr>
      {% empty %}
      <tr>
        <th scope="row" colspan="3" class="text-center">None.</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {% block bottom %}
<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingOne">
    <button
      class="accordion-button collapsed d-block text-center"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#flush-collapseOne"
      aria-expanded="false"
      aria-controls="flush-collapseOne"
      id="flush-collapseOne-button"
    >
      <h3>Update Opportunity</h3>
    </button>
  </h2>
  <div
    id="flush-collapseOne"
    class="accordion-collapse collapse"
    aria-labelledby="flush-headingOne"
    data-bs-parent="#accordionFlushExample"
  >
    <div class="accordion-body">
      <p class="text-center">
        Please click on the edit button in the opportunity row to update that
        opportunity information.
      </p>
      <div id="update-opportunity-message"></div>
      <div id="update-opportunity-form"></div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingTwo">
    <button
      class="accordion-button collapsed d-block text-center"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#flush-collapseTwo"
      aria-expanded="false"
      aria-controls="flush-collapseTwo"
      id="flush-collapseTwo-button"
    >
      <h3>Opportunity Details</h3>
    </button>
  </h2>
  <div
    id="flush-collapseTwo"
    class="accordion-collapse collapse"
    aria-labelledby="flush-headingTwo"
    data-bs-parent="#accordionFlushExample"
  >
    <div class="accordion-body">
      <p class="text-center">
        Please click on the view button in the opportunity row to view that
        opportunity information.
      </p>
      <div id="view-opportunity"></div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingTwo">
    <button
      class="accordion-button collapsed d-block text-center"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#flush-collapseThree"
      aria-expanded="false"
      aria-controls="flush-collapseThree"
      id="flush-collapseThree-button"
    >
      <h3>Create Opportunity</h3>
    </button>
  </h2>
  <div
    id="flush-collapseThree"
    class="accordion-collapse collapse"
    aria-labelledby="flush-headingThree"
    data-bs-parent="#accordionFlushExample"
  >
    <div class="accordion-body">
      <div id="create-opportunity-message"></div>
      <div id="create-opportunity-form">
        <div
          hx-get="{% url 'create_opportunity_form' %}"
          hx-trigger="intersect once"
          hx-target="this"
        ></div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_scripts %}
<script>
  let last_updated_id = null;
  document.body.addEventListener("updateClicked", function (e) {
    if (last_updated_id) {
      last_updated = document.getElementById(last_updated_id);
      last_updated.classList.remove("curr-update");
    }
    last_updated_id = e.detail.value;
    last_updated = document.getElementById(last_updated_id);
    last_updated.classList.add("curr-update");
    let accordion1 = document.getElementById("flush-collapseOne");
    let accordion2 = document.getElementById("flush-collapseTwo");
    if (!accordion1.classList.contains("show")) {
      document.getElementById("flush-collapseOne-button").click();
    }
    if (accordion2.classList.contains("show")) {
      document.getElementById("flush-collapseTwo-button").click();
    }
    document.getElementById("update-opportunity-message").innerHTML = "";
    document.getElementById("view-opportunity").innerHTML = "";
  });
  document.body.addEventListener("viewClicked", function (e) {
    if (last_updated_id) {
      last_updated = document.getElementById(last_updated_id);
      last_updated.classList.remove("curr-update");
    }
    last_updated_id = e.detail.value;
    last_updated = document.getElementById(last_updated_id);
    last_updated.classList.add("curr-update");
    let accordion1 = document.getElementById("flush-collapseOne");
    let accordion2 = document.getElementById("flush-collapseTwo");
    if (accordion1.classList.contains("show")) {
      document.getElementById("flush-collapseOne-button").click();
    }
    if (!accordion2.classList.contains("show")) {
      document.getElementById("flush-collapseTwo-button").click();
    }
    document.getElementById("update-opportunity-message").innerHTML = "";
    document.getElementById("update-opportunity-form").innerHTML = "";
  });
  document.body.addEventListener("formScroll", function (e) {
    elem = document.querySelector(e.detail.value);
    elem.scrollIntoView();
  });
</script>
{% endblock %}
