{% load crispy_forms_tags %} {% if success %}

<tr id="ot-{{opportunity.id}}">
  <td>
    <div>
      <h5>
        <a
          href=""
          hx-get="{% url 'view_opportunity' opportunity.id %}"
          hx-trigger="click"
          hx-target="#view-opportunity"
          >{{opportunity.title}}</a
        >
      </h5>
      <div>{{opportunity.short_description|safe}}</div>
    </div>
  </td>
  <td class="text-center align-middle">
    <a
      href=""
      hx-get="{% url 'update_opportunity' opportunity.id %}"
      hx-trigger="click"
      hx-swap="multi:#ot-{{opportunity.id}}:outerHTML,#update-opportunity-form:outerHTML"
      ><i class="bi bi-pencil-square"></i
    ></a>
  </td>
</tr>

<div id="update-opportunity-message">{% include 'alerts.html' %}</div>
{% else %}
<tr id="ot-{{opportunity.id}}">
  <td>
    <div>
      <h5>
        <a
          href=""
          hx-get="{% url 'view_opportunity' opportunity.id %}"
          hx-trigger="click"
          hx-target="#view-opportunity"
          >{{opportunity.title}}</a
        >
      </h5>
      <div>{{opportunity.short_description|safe}}</div>
    </div>
  </td>
  <td class="text-center align-middle">
    <a
      href=""
      hx-get="{% url 'update_opportunity' opportunity.id %}"
      hx-trigger="click"
      hx-swap="multi:#ot-{{opportunity.id}}:outerHTML,#update-opportunity-form:outerHTML"
      ><i class="bi bi-pencil-square"></i
    ></a>
  </td>
</tr>

<div id="update-opportunity-form">
  <div
    hx-get="{% url 'update_opportunity_form' opportunity.id %}"
    hx-trigger="load"
    hx-target="this"
    hx-swap="outerHTML"
  ></div>
</div>
{% endif %}
