<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <th scope="row" class="text-center">Reason</th>
        <td class="text-center">{{add_request.reason}}</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">State</th>
        <td class="text-center">{{add_request.state}}</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">Last Changed By</th>
        <td class="text-center">{{add_request.last_change_by}}</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">Last Changed On</th>
        <td class="text-center">{{add_request.last_changed_on}}</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">Position</th>
        <td class="text-center">{{add_request.position}}</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">Start</th>
        <td class="text-center">{{add_request.start}}</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">Duration</th>
        <td class="text-center">{{add_request.duration}}</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">Building</th>
        <td class="text-center">{{add_request.building}}</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">Room</th>
        <td class="text-center">{{add_request.room}}</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">Kind</th>
        <td class="text-center">{{add_request.kind}}</td>
      </tr>
    </tbody>
  </table>
</div>
