<tr id="art-{{add_request.id}}" class="curr-update">
  <td class="text-center">{{ add_request.position.user.last_name }}</td>
  <td class="text-center">{{ add_request.position.user.first_name }}</td>
  <td class="text-center">{{ add_request.start|date }}</td>
  <td class="text-center">{{ add_request.reason }}</td>
  <td class="text-center">
    <a
      href=""
      hx-get="{% url url_name add_request.id %}"
      hx-trigger="click"
      hx-target="#request-form"
      ><i class="bi bi-zoom-in"></i
    ></a>
  </td>
</tr>

<div id="request-message">{% include 'alerts.html' %}</div>

<div id="request-form">
  <div
    hx-get="{% url url_name add_request.id %}"
    hx-trigger="intersect once"
    hx-target="this"
    hx-swap="outerHTML"
  ></div>
</div>
