<!--Extends base template-->
{% extends "base.html" %}
<!--So forms look good-->
{% load crispy_forms_tags %}

<!--Content of the page-->
{% block content %}
<h1 class="text-center">List of Courses</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th class="text-center" scope="col">Subject</th>
      <th class="text-center" scope="col">Number</th>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Edit</th>
    </tr>
  </thead>
  <tbody id="course-body">
    {% for course in courses %}
    <tr id="ct-{{course.id}}">
      <td class="text-center">{{ course.subject.short_name }}</td>
      <td class="text-center">{{ course.number }}</td>
      <td class="text-center">{{ course.name }}</td>
      <td class="text-center">
        <a
          href=""
          hx-get="{% url 'edit_course' course.id %}"
          hx-target="#edit-course-form"
          hx-trigger="click"
          ><i class="bi bi-pencil-square"></i
        ></a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <th scope="row" colspan="4" class="text-center">None.</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block bottom %}
<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingTwo">
    <button
      class="accordion-button collapsed d-block text-center"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#flush-collapseTwo"
      aria-expanded="false"
      aria-controls="flush-collapseTwo"
      id="flush-collapseTwo-button"
    >
      <h3>Edit Course</h3>
    </button>
  </h2>
  <div
    id="flush-collapseTwo"
    class="accordion-collapse collapse"
    aria-labelledby="flush-headingTwo"
    data-bs-parent="#accordionFlushExample"
  >
    <div class="accordion-body">
      <p class="text-center">
        Please go to the course row you want to edit and click the edit button.
      </p>
      <div>
        <div id="edit-course-message"></div>
        <div id="edit-course-form"></div>
      </div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingOne">
    <button
      class="accordion-button collapsed d-block text-center"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#flush-collapseOne"
      aria-expanded="false"
      aria-controls="flush-collapseOne"
      id="flush-collapseOne-button"
    >
      <h3>Add Course</h3>
    </button>
  </h2>
  <div
    id="flush-collapseOne"
    class="accordion-collapse collapse"
    aria-labelledby="flush-headingOne"
    data-bs-parent="#accordionFlushExample"
  >
    <div class="accordion-body">
      <div id="add-course-message"></div>
      <div id="add-course-form">
        <div
          hx-get="{% url 'create_course' %}"
          hx-target="this"
          hx-trigger="intersect once"
          hx-swap="outerHTML"
        ></div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_scripts %}
<script>
  let last_updated = null;
  document.body.addEventListener("courseCreated", function (e) {
    let elem_id = e.detail.value;
    let row = document.getElementById(elem_id);
    row.scrollIntoView();
  });
  document.body.addEventListener("courseUpdateClicked", function (e) {
    if (last_updated) {
      last_updated.classList.remove("curr-update");
    }
    let last_updated_id = e.detail.value;
    last_updated = document.getElementById(last_updated_id);
    last_updated.classList.add("curr-update");
    let accordion = document.getElementById("flush-collapseTwo");
    if (!accordion.classList.contains("show")) {
      document.getElementById("flush-collapseTwo-button").click();
    }
  });
</script>
{% endblock%}
