{% if success %}
<tbody id="faculty-body">
  <tr id="ft-{{faculty.id}}" class="new-add">
      <td class="text-center">{{ faculty.last_name }}</td>
      <td class="text-center">{{ faculty.first_name }}</td>
      <td class="text-center">
        <a href="mailto:{{faculty.email}}">{{ faculty.email }}</a>
      </td>
      <td class="text-center">
        <a
          href=""
          hx-get="{% url 'edit_faculty' faculty.id %}"
          hx-target="#edit-faculty-form"
          hx-trigger="click"
          ><i class="bi bi-pencil-square"></i
        ></a>
      </td>
    </tr>
  </tr>
</tbody>
{% endif %}

<div id="add-faculty-message">{% include 'alerts.html' %}</div>

{% if success %}
<div id="add-faculty-form">
  <div
    hx-get="{% url 'create_faculty' %}"
    hx-target="this"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
</div>
{% endif %}
