{% load crispy_forms_tags %} {% crispy form %}
<hr />
<h4 class="text-center">List of Class Times</h4>
<div class="table-responsive">
  <table class="table" id="users">
    <thead>
      <tr>
        <th class="text-center" scope="col">Day of the Week</th>
        <th class="text-center" scope="col">Start Time</th>
        <th class="text-center" scope="col">Duration</th>
        <th class="text-center" scope="col">Location</th>
        <th class="text-center" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody id="class-times-body">
      {% for class_time in class_times %}
      <tr id="ctt-{{class_time.id}}">
        <td class="text-center">{{class_time.get_class_day_display}}</td>
        <td class="text-center">{{class_time.start_time}}</td>
        <td class="text-center">{{class_time.duration}}</td>
        <td class="text-center">
          {{class_time.building.short_name}} - {{class_time.room}}
        </td>
        <td class="text-center">
          <a
            href=""
            hx-delete="{% url 'delete_class_time' class_time.id %}"
            hx-trigger="click"
            hx-target="#ct-{{class_id}}"
            ><i class="bi bi-trash3-fill"></i
          ></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="add-class-time-message"></div>
<div id="add-class-time-form">
  <div
    hx-get="{% url 'add_class_time' class_id %}"
    hx-trigger="load"
    hx-target="this"
    hx-swap="outerHTML"
  ></div>
</div>
