<!--Extends base template-->
{% extends "base.html" %} {% load static %}

<!--Content of the page-->
{% block content %}
<div
  class="center-div d-flex align-items-center justify-content-center"
  id="center-if-possible"
>
  <div class="align-items-center justify-content-center">
    <p class="fs-5 container text-center">
      Dear <i>{{user}}</i>, welcome back!
    </p>
    <img
      class="img-fluid mx-auto d-block"
      src="{% static 'img/welcome.gif' %}"
      alt="Welcome Back"
    />
    <br />
    <p class="fs-5 container text-center">
      We are pleased to introduce <b>LRC Nexus</b>, the new staff website for
      the Learning Resource Center (LRC). Our goal is to streamline the work of
      the LRC staff and enhance the management of our student staff and
      programs. We hope you enjoy using this new platform!
    </p>
  </div>
</div>

{% endblock %}
