{% load static %}

<div class="d-flex align-items-center justify-content-center">
  <div class="align-items-center justify-content-center">
    <img
      class="img-fluid mx-auto d-block"
      src="{% static 'img/work_in_progress.gif' %}"
      alt="Work in Progress"
    />
    <br />
    <p class="fs-5 container text-center">
      Sorry for the Inconvinience. We are currently in the process of
      implementing this feature and it will be available soon. Thank you for
      your patience.
    </p>
  </div>
</div>
