<!--So forms look good-->
{% comment %} {% load crispy_forms_tags %} {% load static %} {% block extra_head
%}
<link rel="stylesheet" href="{% static 'css/search.css' %}" />
{% endblock %} {% endcomment %}

<style>
  .search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  }

  .search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
  }

  .search input:focus {
    box-shadow: none;
    border: 2px solid #0d6efd;
  }

  .search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
  }

  .search .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #0d6efd;
    text-indent: 0%;
  }

  .eyes {
    aspect-ratio: 5 / 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 15%;
    border-color: #0d6efd;
  }

  .eye {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: thick solid #0d6efd;
  }

  .pupil {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background-color: #0d6efd;
  }
</style>

<!--Content of the page-->
<h1 class="text-center">Search for Opportunities</h1>
<div
  class="row height d-flex justify-content-center align-items-center"
  style="z-index: 10000"
>
  <div class="col-md-10">
    <form
      class="search"
      hx-post="{% url 'api_opportunity_search' %}"
      hx-swap="multi:#result_stats:outterHTML,#results:innerHTML"
      hx-trigger="click"
      placeholder="Searching..."
    >
      <i class="fa fa-search"></i>
      <input
        type="text"
        name="search_query"
        class="form-control"
        placeholder="Want to find some job/research opportunities? Search here!"
      />
      <input
        type="submit"
        name="submit"
        value="Search"
        class="btn btn-primary btn btn-primary text-center"
        id="submit-id-submit"
      />
    </form>
  </div>
</div>
<hr />
<p id="result_stats">
  Showing results for: "<b></b>", Found <b>0</b> opportunities.
</p>
<div id="results">
  <div
    hx-get="{% url 'api_search_no_result'%}"
    hx-trigger="load"
    hx-swap="multi:#result_stats:outterHTML,#results:innerHTML"
  ></div>
</div>

<script>
  // get both pupils
  let pupils = [];
  document.body.addEventListener("noResult", function (e) {
    pupils = document.querySelectorAll(".eye .pupil");
  });
  window.addEventListener("mousemove", (e) => {
    pupils.forEach((pupil) => {
      // get x and y postion of cursor
      var rect = pupil.getBoundingClientRect();
      var x = (e.pageX - rect.left) / 30 + "px";
      var y = (e.pageY - rect.top) / 30 + "px";
      pupil.style.transform = "translate3d(" + x + "," + y + ", 0px)";
    });
  });
</script>
