.bi {
    width: 1em;
    height: 1em;
    fill: currentcolor
}

.custom-center-screen {
    min-width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tableFixHead {
    overflow-y: auto;
    height: 100px;
}