.bi {
    width: 1em;
    height: 1em;
    fill: currentcolor
}

.custom-center-screen {
    min-width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tableFixHead {
    overflow-y: auto;
    height: 100px;
}

.new-add > td {
    animation: animation-new-add 5s;
}

@keyframes animation-new-add {
    0% {
        background-color: green;
    }

    100% {
        background-color: white;
    }
}

.curr-update > td {
    background-color: rgba(255, 255, 159, 0.5);
}

.accordion-body {
    max-height: 60vh;
    overflow-y: scroll;
}

select.modelselect2.form-select {
    display: none;
}

span.select2.select2-container {
    width: 100% !important;
}

.fixed-bottom {
    z-index: 1000;
}